In [11]:
import pandas as pd
from datetime import datetime, timedelta

In [2]:
import numpy as np

In [7]:
notifications_df = pd.read_csv("/Users/chandermohan/Downloads/ielts_notifications.csv")

In [8]:
purchases_df = pd.read_csv("/Users/chandermohan/Downloads/ielts_users.csv")

In [5]:
df.head()

      id  message_mode  user_id  read_status      added_date
0  20363             2    19578            0  1/01/2017 0:15
1  20368             2    19434            0  1/01/2017 1:15
2  20374             1    19697            0  1/01/2017 2:39
3  20375             5    19691            1  1/01/2017 2:45
4  20377             2    19436            0  1/01/2017 3:15

In [6]:
df1.head()

,access_level,age,buy_now_clicked,buy_now_clicked_date,chosen_package,degree,gender,last_login,oauth_provider,registration_date,status,user_id,user_type
0,0,NaN,0,0000-00-00 00:00:00,NaN,NaN,NaN,NaN,NaN,1/01/2017 1:16,1,19707,0
1,0,28,0,0000-00-00 00:00:00,NaN,Bachelors,Male,NaN,facebook,1/01/2017 4:39,1,19714,1
2,0,NaN,0,0000-00-00 00:00:00,NaN,NaN,Male,NaN,facebook,1/01/2017 5:55,1,19716,1
3,0,NaN,0,0000-00-00 00:00:00,NaN,NaN,Male,NaN,facebook,1/01/2017 8:22,1,19719,1
4,0,NaN,0,0000-00-00 00:00:00,NaN,NaN,Male,NaN,facebook,1/01/2017 9:10,1,19721,1

In [12]:
# Convert date columns to datetime
notifications_df['added_date'] = pd.to_datetime(notifications_df['added_date'], format='%d/%m/%Y %H:%M')
purchases_df['registration_date'] = pd.to_datetime(purchases_df['registration_date'], format='%d/%m/%Y %H:%M')

# Merge notifications and purchases on user_id
merged_df = pd.merge(notifications_df, purchases_df, on='user_id')

# Filter the merged data to find purchases within 10 minutes of notifications
def is_purchase_within_10_minutes(notification_time, purchase_time):
    return purchase_time <= notification_time + timedelta(minutes=10)

# Apply the function to filter relevant rows
relevant_purchases = merged_df[merged_df.apply(lambda row: is_purchase_within_10_minutes(row['added_date'], row['registration_date']), axis=1)]

# Count the number of relevant purchases
num_relevant_purchases = relevant_purchases.shape[0]

print(f"Number of purchases caused by a notification: {num_relevant_purchases}")

Number of purchases caused by a notification: 45329

In [25]:
# Convert date columns to datetime
notifications_df['added_date'] = pd.to_datetime(notifications_df['added_date'], format='%d/%m/%Y %H:%M')
purchases_df['registration_date'] = pd.to_datetime(purchases_df['registration_date'], format='%d/%m/%Y %H:%M')

# Extract year from registration_date
purchases_df['year'] = purchases_df['registration_date'].dt.year

# Count number of new users for each year
user_counts = purchases_df['year'].value_counts()

# Define acquisition costs
acquisition_costs = {
    2017: 2.50,
    2018: 2.30
}

# Calculate total acquisition cost for each year
total_acquisition_costs = {year: cost * user_counts.get(year, 0) for year, cost in acquisition_costs.items()}

# Calculate change in acquisition costs
change_in_acquisition_cost = total_acquisition_costs.get(2018, 0) - total_acquisition_costs.get(2017, 0)

# Print results
print(f"Total acquisition cost in 2017: ${total_acquisition_costs.get(2017, 0):.2f}")
print(f"Total acquisition cost in 2018: ${total_acquisition_costs.get(2018, 0):.2f}")
print(f"Change in acquisition cost from 2017 to 2018: ${change_in_acquisition_cost:.2f}")

Total acquisition cost in 2017: $16627.50
Total acquisition cost in 2018: $17903.20
Change in acquisition cost from 2017 to 2018: $1275.70

In [23]:
user_notification_counts = notifications_df.groupby('user_id').size()

# Calculate the median number of notifications
median_notifications = user_notification_counts.median()

In [24]:
median_notifications

3.0